<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="timesheetRecordSaving.Properties.Settings.XYZ_Travel_AgencyConnectionString"
            connectionString="Data Source=DESKTOP-N25CU7R\SQLEXPRESS;Initial Catalog=XYZ_Travel_Agency;Persist Security Info=True;User ID=sa;Password=121212"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>